@model MyAcademy_MVC_CodeFirst.Data.Entities.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.Id)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>
